/*Style Sheet for Dog Adoption Page*/
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-color: #004175;
    color: white;
    padding: 30px 0px 30px 0px;
    font-size: 1.2rem;
}
.header h1 {
    margin: 0 0 0 50px;
}
.subheader {
    padding: 25px 25px 10px 50px;
}
.subheader p {
    padding: 25px 0 0 0;
}

.dogs {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}
.dog-card {
    width: 320px;
    padding: 0 0 50px 10px;
}
/*MAKES SURE EACH DOG PIC TAKES UP FULL WIDTH OF CONTAINER*/
.dog-photo {
    width: 100%;
}

/*FORMATTING FOR DOG NAME HEADING*/
.dog-name {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
}
/*THIS SECTION STYLES THE LIST QUALITIES OF EACH DOG*/
ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.qualities {
    display: flex;
    background-color: #89DEEF;
    border-radius: 6px;
    font-size: .7rem;
    padding: 1px;
    margin: 2px;
    font-family: 'Open Sans', sans-serif;
}

/*THIS STYLING HANDLES FOOTER SECTION. Added method of selecting n-th child*/

.thirds-container {
    height: 22vh;
    width: 100vw;
    display: flex;
    padding-bottom: 20px;
}

div.thirds-container {
    align-items: center;
}
 .thirds::before {
    content: "";
    position: absolute;
    top: 0px; right: 0px; bottom: 0px; left: 0px;
    background-color: rgb(131,134,235);
    opacity: .5;
}

.thirds {
    display: flex;
    flex-grow: 1;
    width: 33vw;
    position: relative;
    background-size: cover;
    justify-content: space-evenly;
    height: 100%;
}

.thirds:nth-of-type(1) {
    background-image: url("starter_files/images/donate.jpg");
}

.thirds:nth-of-type(2) {
    background-image: url("starter_files/images/volunteer.jpg");
}

.thirds:nth-of-type(3) {
    background-image: url("starter_files/images/location.png");
}

.footer-text {
    color: white;
    display: flex;
    position: relative;
    font-weight: normal;
    font-size: 2.7rem;
    font-family: 'Oswald', sans-serif;
    padding-top: 75px;
}
