/*Style Sheet for Dog Adoption Page*/

body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-color: #004175;
    color: white;
    padding: 30px 0px 30px 0px;
    font-size: 1.2rem;
}

.header h1 {
    margin: 0 0 0 50px;
}

.header2, .row {
    padding-left: 50px;
    padding-right: 20px;
}

.row {
    display: inline-block;
}

.col {
    width: 28%;
    float: left;
}

.second-col, .third-col {
    padding-left: 10px;
}

.row1, .row2 {
    padding-bottom: 30px;
}

img {
    width: 100%;
}

.dog-name {
    font-size: 1.1rem;
    margin: auto;
    font-family: 'Oswald', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

.qualities {
    display: inline-block;
    background-color: #89DEEF;
    border-radius: 8px;
    font-size: .7rem;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    overflow-wrap: unset;
}

/* SOME STARTS ON GETTING FOOTER TO WORK
div.left-third div.center-third, div.right-third {
    display: inline-block;

}

.left-third, .center-third, .right-third {
    float: left;
    width: 33vw;
    height: 25vh;
}

.left-third img {
    height: inherit;
}*/