/*Style Sheet for Dog Adoption Page*/
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-color: #004175;
    color: white;
    padding: 30px 0px 30px 0px;
    font-size: 1.2rem;
}
.header h1 {
    margin: 0 0 0 50px;
}
.subheader {
    padding: 25px 25px 10px 50px;
}
.subheader p {
    padding: 25px 0 0 0;
}

.dogs {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}
.dog-card {
    width: 320px;
    padding: 0 0 50px 10px;
}
/*MAKES SURE EACH DOG PIC TAKES UP FULL WIDTH OF CONTAINER*/
.dog-photo {
    width: 100%;
}

div.dog-card:hover img.dog-photo {
    opacity: .25;
}

/*FORMATTING FOR DOG NAME HEADING*/
.dog-name {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
}
/*THIS SECTION STYLES THE LIST QUALITIES OF EACH DOG*/
ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.qualities {
    display: flex;
    background-color: #89DEEF;
    border-radius: 6px;
    font-size: .8rem;
    padding: 1px;
    margin: 2px;
    font-family: 'Open Sans', sans-serif;
}

/*THIS STYLING HANDLES FOOTER SECTION. Added method of selecting n-th child*/

.thirds-container {
    height: 300px;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

.thirds {
    display: flex;
    align-items: center;
    height: 100%;
    width: 400px;
}

.thirds:nth-of-type(1) {
    background: linear-gradient(
            rgba(166,169,240,.45),
            rgba(166,169,240,.45)
        ), url(starter_files/images/donate.jpg) top center / 400px 300px no-repeat;
}

.thirds:nth-of-type(2) {
    background:  linear-gradient(
        rgba(166,169,240,.45),
        rgba(166,169,240,.45)
    ), url(starter_files/images/volunteer.jpg) top center / 400px 300px no-repeat;
}

.thirds:nth-of-type(3) {
    background:  linear-gradient(
        rgba(166,169,240,.45),
        rgba(166,169,240,.45)
    ), url(starter_files/images/location.png) top center / 400px 300px no-repeat;
}

.footer-text {
    color: white;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-weight: normal;
    font-size: 2.6rem;
    font-family: 'Oswald', sans-serif;
}
