/*Style Sheet for Dog Adoption Page*/

body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-color: #004175;
    color: white;
    padding: 30px 0px 30px 0px;
    font-size: 1.2rem;
}

.header h1 {
    margin: 0 0 0 50px;
}

.header2, .row {
    padding-left: 50px;
    padding-right: 20px;
}

.row {
    display: inline-block;
}

.col {
    width: 30%;
    float: left;
}

.second-col, .third-col {
    padding-left: 10px;
}

.row1, .row2 {
    padding-bottom: 30px;
}

/*MAKES SURE EACH DOG PIC TAKES UP FULL WIDTH OF CONTAINER*/

.dog-photo {
    width: 100%;
}

/*FORMATTING FOR DOG NAME HEADING*/

.dog-name {
    font-size: 1.2rem;
    margin: auto;
    font-family: 'Oswald', sans-serif;
}

/*THIS SECTION STYLES THE LIST QUALITIES OF EACH DOG*/

ul {
    padding: 0;
    margin: 0;
}

.qualities {
    display: inline-block;
    background-color: #89DEEF;
    border-radius: 8px;
    font-size: .8rem;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    overflow-wrap: unset;
}

/*THIS STYLING HANDLES FOOTER SECTION. NEED TO WORK ON NOT HAVING OPACITY OF TEXT*/

.left-third, .center-third, .right-third {
    float: left;
    width: 33.3vw;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    margin: 50px 0 50px 0;
    background-size: cover;
    position: relative;
}
.left-third::before, .center-third::before, .right-third::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(166, 168, 240, .8);
}

.left-third {
    background-image: url("starter_files/images/donate.jpg");
}
.center-third {
    background-image: url("starter_files/images/volunteer.jpg");
}
.right-third {
    background-image: url("starter_files/images/location.png");
}

.footer-text {
    color: white;
    position: relative;
    font-weight: normal;
}